<%= cookies['consented'] %>
<% if cookies['consented'] != 'true' %>
  <div class="cookies_eu" style="background: <%= CookiesEu::BACKGROUND %>; ">
    <span><%= t('cookies_eu.span_text') %></span>
    <button class="cookies_eu_ok"></button>
    <a href="<%= CookiesEu::COOKIES_LINK %>"> <%= t('cookies_eu.learn_more') %> </a>
  </div>
<% end %>